Q1. Write a Python program that defines a function called "add_numbers" that takes two arguments (i.e.,
numbers) and returns their sum. Within the function, add the two numbers together and return the result
using the return statement. Call the function with the values 5 and 6, and print out the returned result.
This will result in the addition of 5 and 6, with the output of the program being the sum of these two
numbers.

In [8]:
def add_numbers(a,b):
    return ("the sum of these two numbers {} and {}  is {} ".format(a,b,a+b))

In [9]:
add_numbers(4,5)

'the sum of these two numbers 4 and 5  is 9 '

Q2. Write a Python program that calculates the square root of a given number using a built-in function.
Specifically, the program should take an integer or float input from the user, calculate its square root
using the 'sqrt()' function from the 'math' module, and print out the result to the user. As an example,
calculate the square root of the number 625 using this program, which should output the value of 25.

In [13]:
import math
def sqfun():
    num = float(input("enter number : "))
    return math.sqrt(num)

In [14]:
sqfun()

enter number : 625

25.0

Q3.Write a program that prints all prime numbers between 0 to 50.

In [37]:

def pnum():
    
    for i in range(2,51):

        
        for j in range(2,i):
            if i%j==0:
                break
        else:
            print(i)

In [38]:
pnum()

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

Q4.How can we swap the values of three variables (let's say a, b, and c) without using a fourth variable?
For example, if we have a=5, b=8, and c=9, how can we obtain a=9, b=5, and c=8? The challenge is to
perform this operation without using an additional variable to store any of the values during the
swapping process.

In [40]:
a,b,c=5,8,9

In [41]:
a,b,c=c,a,b

In [42]:
a,b,c

(9, 5, 8)

Q5. Can you write a program that determines the nature of a given number (in this case, 87) as being
positive, negative, or zero? The program should be designed to take the number as input and perform the
necessary calculations to determine if the number is positive (i.e., greater than zero), negative (i.e., less
than zero), or zero (i.e., equal to zero). The output of the program should indicate which of these three
categories the given number falls into.

In [51]:
try:
    num = int(input("enter number : "))

    if num==0:
        print("The number i equal to zero")
    elif num>0:
        print('The number is greater than zero')
    
    else:
        print("number is less than zero")
except Exception as e:
    print("type correct number ",e)

enter number : sdasf
type correct number  invalid literal for int() with base 10: 'sdasf'

Q6. How can you create a program that determines whether a given number (in this case, 98) is even or
odd? The program should be designed to take the number as input and perform the necessary
calculations to determine whether it is divisible by two. If the number is divisible by two without leaving a
remainder, it is an even number, and if there is a remainder, it is an odd number. The output of the
program should indicate whether the given number is even or odd.

In [49]:
try:
    num = int(input("enter number : "))

    if num%2==0:
        print("the num is even")
    elif num%2!=0:
        print("num is odd")
    else:
        print("number is 0")
except Exception as e:
    print("type correct number ",e)

enter number : jghfdss
invalid literal for int() with base 10: 'jghfdss'

Q7.Write a program for sum of digits.the digits are 76543 and the output should be 25.

In [58]:
list1= [7,6,5,4,3]
sum(list1)

25

In [67]:
import functools
from functools import reduce

reduce(lambda x,y : x+y ,list1)

25

Q8.Write a program for reversing the given number 5436 and the output should be 6345.

In [73]:
num = 5436
reversed = int(str(num)[::-1])

In [74]:
reversed

6345

Q9.Write a program to check if a given number 371 is an Armstrong number?

In [104]:
num = 371
power = int(len(str(num)))
result= 0
for i in str(num):
     result +=  int(i)**power
if result==num:
    print('yes it is Armstrong')
else: 
    print('no! number is not ArmStrong')

yes it is Armstrong

Q10.Write a program the given year is 1996, a leap year.

In [138]:
year = 2100
if year%4==0:
    if year%100==0:
        if year%400==0:
            print("yes")
        else:
            print("not")
    else:
        print("yes")
else:
    print("not")

not

In [126]:
year = 2100

if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print(year, "is a leap year")
        else:
            print(year, "is not a leap year")
    else:
        print(year, "is a leap year")
else:
    print(year, "is not a leap year")

2100 is not a leap year

In [144]:
def is_leap_year(year):
    return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)

In [146]:
is_leap_year(2001)

False